/* home class */
.home_container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
  }
  
  .home_data {
    text-align: center;
  }
  
  .home_greeting, .home_education {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  
  .home_greeting {
    display: block;
    color: var(--title-color);
    margin-bottom: .25rem;
    letter-spacing: 0.1rem;
  }
  
  .home_education {
    color: var(--text-color);
    margin-bottom: 2.5rem;
  }
  
  .home_name {
    font-size: var(--biggest-font-size);
    padding: 0.1rem;
  }
  
  .name {
    padding-top: 1rem;
    padding-bottom: 0.3rem;
  }
  
  .developer {
    padding-bottom: 3rem;
  }
  
  .home_img {
    width: 200px;
    border-radius: 100%;
  }
  
  .home_handle {
    justify-self: center;
    width: 195px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
  }
  
  .home_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; 
  }
  
  .home_social, .home_scroll {
    position: absolute;
  }
  
  .home_social {
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
  }
  
  .home_social-link {
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .4s;
  }
  
  .home_social-link:hover {
    background-color: var(--first-color);
    color: #fff; 
  }
  
  .home_social::after {
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
  }
  
  .home_scroll {
    color: var(--first-color);
    right: -1.5rem;
    bottom: 4rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
  }
  
  .home_scroll-icon {
    font-size: 1.25rem;
  }
  
  .home_scroll-name {
    font-size: var(--medium-font-size);
    transform: rotate(-90deg);
    letter-spacing: 0.1rem;
  }